/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
RESET OVER
*/


body {
	font-family: "Lucida Sans" "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 11px;
	font-weight: 400;
	color: #666;
	line-height: 18px;
	min-height: 2000px;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5 {
	font-family: 'Oswald', sans-serif;
	color: #808080;
	margin-bottom: 5px;
}

h1 {
	color: #000;
	font-size: 28px;
	font-weight: 400;
}

h2 {
	font-size: 21px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 30px;
}



a {
	color: #F7931E;
	text-decoration: none;
}


.clear {
	clear: both;
}

.center {
	text-align: center;
}


#slider {
	padding-top: 20px;
}

.col {
	width: 390px;
	float: left;
	height: 330px;
}

.mid {
	padding-left: 15px;
	margin-right: 14px;
	border-right: 1px #999 solid;
}

#header {
	height: 40px;
	padding-top: 30px;
	border-bottom: 1px #999 solid;
}

#header h1 {
	float: left;
	text-transform: capitalize;
	font-style: italic;
}

#header p {
	float: right;
}

p#poweredby {
	width: 80px;
	float: left;
	font-size: 9px;
	margin-left: 20px;
	
	line-height: 12px;
}

p#down {
	margin-left: 10px;
	margin-right: 10px;
}

#ajaxer {
       width: 1200px;
       margin: 100 auto;
       padding-top: 100px;
}

table {
       width: 1200px;
       font-size: 12px;
}

table th {
       background-color: #E6E6E6;
       text-align: left;
       padding: 3px 15px;
       height: 18px;
}

table td {
       text-align: left;
       padding: 3px 15px;
       color: #333;
       height: 18px;
}

table tr.even {
	background-color: #F8F8F8;
}

table#test tr td.title {
	width: 600px;
}

table#test tr td.reviewer1, table#test tr td.reviewer2, table#test tr td.reviewer3 {
	width: 100px;
}

.loader{
	display: none;
	text-align: center;
	margin-top: 40px;
}
